.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #ad3a3a;
}

table {
    color: rgb(44, 42, 42);
    border-radius: 5px;
    overflow: hidden;
    margin: 12px 0;
    min-width: 300px;
    background: #afdaaf;
}

.header-row {
    background: #0e3863;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
    color: rgb rgb(253, 253, 251)  
}

tr:nth-child(even){
    background-color: rgb(139, 133, 163);
    color: rgb(0, 2, 10)
}

